body
{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #eeeeee;
}
.dropdown-links {
    margin-left: 0px;
    display: none;
    padding-left: 20px;
    background: #fff;
    box-shadow: -1px 3px 8px 0px #00000038;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    margin-right: 0px;
    position: absolute;
    top: 40px;

}
.notification-card {
    width: 400px;
    height: 69px;
    right: 0px;
    bottom: 0px;
    background: #fff;
    box-shadow: -1px -1px 11px 2px #0000001f;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-top: 5px;
    padding-left: 5px;    
    position: fixed;
    z-index: 100;
}

.notification-card img {
    width: 66px;
    height: 63px;
    border-radius: 4px;
}
.notifications-drop {
    position: absolute;
    width: 380px;
    padding-left: 15px;
    right: 129px;
    top: 40px;
    display: none;
    position: absolute;
    width: 275px;
    padding-left: 15px;
    background: #fff;
    box-shadow: 2px 0px 4px 3px #0000000f;
    border-radius: 4px;    color: #0000005e;
    font-size: 17px;
    font-weight: 700;
}

.read_status {
    font-size: 12px;
    font-weight: bold;
}

.notifications-drop > ul > li{
    margin-right: 0px;
    margin-bottom: 20px;
}

.notifications-drop > ul{
    margin-left: 0px;
    padding-left: 10px;
}
.notif-count {
    z-index: 9999;
    position: relative;
    bottom: 10px;
    background: red;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #fff;
    left: auto;
    right: 35px;
    cursor: pointer;
    font-size: 12px;
}
.title {
    font-weight: bolder;
    font-size: 18px;
}
.body {
    font-size: 12px;
    color: #8e8686;
}
.article-title {
    font-weight: bolder;
    font-size: 14px;
}
.notification-card ul {
    margin-left: 40px;
    display: inline-grid;
    position: relative;
    bottom: 80px;
}
.search-bar {
    position: relative;
    /* padding-bottom: 20px; */
    /* padding-top: 30px; */
    height: 30px;
    border-radius: 4px;
    border: 1px solid #0000005e;
    top: 30px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 250px;
    margin-right: 30px;
}

.dropdown-links > li:nth-of-type(0) {
    margin-bottom: 10px;
}

.dropdown-links > li {
    cursor: pointer;
}

.spBtn
{
    margin-top: 20px;
    -webkit-border-radius: 36px;
    border-radius: 36px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    background: none;
    padding: 10px 28px;
    height: 40px;
    outline: none;
    border: 1px solid rgba(0,0,0,.04);
    cursor: pointer;
    margin-right: 10px;
    background: #eeeeee;
}

.lgBtn
{
    margin-top: 20px;
    -webkit-border-radius: 36px;
    border-radius: 36px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    background: none;
    padding: 10px 28px;
    height: 40px;
    outline: none;
    border: 1px solid rgba(0,0,0,.04);
    cursor: pointer;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.firstNavbar 
{
    display: flex;
    flex-direction: row;
    background: #ffffff;
}

.articleBtn
{
    height: 18px;
    width: 18px;
}

.logo
{
    margin-left: 12%;
    margin-right: 10%;
}

.navbarBtn
{
    margin-top: 2%;
    background: none;
    margin-left: 2%;
    height: 40px;
    padding: 5px 38px;
    border: 1px solid #367fa9;
    outline: #367fa9;
    cursor: pointer;
    -webkit-border-radius: 36px;
    border-radius: 36px;
}

.navIcons
{
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

.notifications
{
    margin-top: 35px;
}

.manIcon
{
    height: 35px;
    width: 35px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 25px;
}

.navName
{
    margin-left: 10px;
    margin-top: 30px;
}

.nameAndIcon
{
    display: flex;
    flex-direction: row;
}

.dropdown
{
    margin-top: 35px;
    height: 15px;
    width: 15px;
    margin-left: 10px;
}

.secondNavbar
{
    background: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #eeeeee;
}

ul li
{
    display: inline;
}

ul
{
    margin-left: 15%;
}

li
{
    margin-right: 35px;
}

.headline
{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 35px;
}

.star
{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.ftBtns
{
    margin-left: 25%;
    -webkit-border-radius: 36px;
    border-radius: 36px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    text-align: center;
    height: 25px;
    padding: 5px;
    margin-right: 20%;
}

.btnLike
{
    border-right: 1px solid rgba(0,0,0,.09);
    padding-left: 10px;
    padding-right: 10px;
}

.btnLike2
{
    padding-right: 10px;
}

.sortBtn
{
    -webkit-border-radius: 36px;
    border-radius: 36px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    background: none;
    padding: 10px 28px;
    margin-left: 15px;
    border: 1px solid rgba(0,0,0,.04);
    cursor: pointer;
    outline: none;

}

.sortIcon
{
    height: 10px;
    width: 10px;
    margin-top: 2px;
}

.profImg
{
    height: 30px;
    width: 30px;
}

.profBookmark
{
    height: 20px;
    width: 20px;
}

.firstRow
{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 2%;
}

.firstRowFirst
{
    background-image: url('../icons/bird.jpeg');
    background-position: 100%;
    background-size: cover!important;
    background-repeat: no-repeat;
    width: 450px;
}

.secondRowFirst
{
    margin-left: 2%;
}

.subColumn
{
    background: #ffffff;
    width: 270px;
    padding: 10px;   
}

.sb1
{
    margin-right: 50px;
}

.sb2
{
    margin-bottom: 20px;
}

.secondRow
{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 1%;
}

.secRowImg
{
    width: 170px;
    height: 140px;
}

.secRowDiv
{
    display: flex;
    flex-direction: row;
    width: 450px;
    background: #ffffff;
    height: 140px;
}

.secRowDivSpace
{
    margin-top: 20px;
}

.secRowDisplay2
{
    margin-left: 2%;
}

.secRowDivLong1
{
    background-image: url('../icons/bird.jpeg');
    background-position: 100%;
    background-size: cover!important;
    background-repeat: no-repeat;
    width: 630px;
    height: 140px;
}

.displayDown
{
    margin-top: 19px;
}

.long
{
    width: 630px;
}

.thirdRow
{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 25px;
}

.lastCards
{
    width: 250px;
    background: #ffffff;
}

.lastCardImage
{
    width: 250px;
}

.spaceRight
{
    margin-right: 35px;
}

.showMore
{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 45%;
    -webkit-border-radius: 36px;
    border-radius: 36px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    background: #DC143C;
    padding: 10px 28px;
    outline: none;
    border: 1px solid rgba(0,0,0,.04);
    cursor: pointer;
    color: #ffffff;
}

.signin
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1%;
    -webkit-border-radius: 36px;
    border-radius: 36px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    background: #eeeeee;
    padding: 5px 28px;
    outline: none;
    border: 1px solid rgba(0,0,0,.04);
    cursor: pointer;
}
.signup
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1%;
    -webkit-border-radius: 36px;
    border-radius: 36px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    background: #eeeeee;
    padding: 5px 28px;
    outline: none;
    border: 1px solid rgba(0,0,0,.04);
    cursor: pointer;
}
.createArt{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: -10%;
    -webkit-border-radius: 36px;
    border-radius: 36px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    background: #eeeeee;
    padding: 5px 28px;
    outline: none;
    border: 1px solid rgba(0,0,0,.04);
    cursor: pointer;

}

.profName
{
    font-size: 10px;
}


.fRT
{
    margin-top: 33%;
    padding-left: 25px;
}

.fRST
{
    padding-left: 25px;
}

.pDFRF
{
    margin-left: 25px;
    color: #ffffff;
}

.pBM
{
    margin-left: 60%;
    margin-top: 8%;
    filter: invert(100%) sepia(0%) saturate(4141%) hue-rotate(292deg) brightness(117%) contrast(100%);
}

.pIFRF
{
    margin-top: 10px;
}

.pNFRF
{
    margin-left: 10px;
    margin-top: 30px;
    position: absolute;
}

.sbCN
{
    margin-top: 5px;
    position: absolute;
    margin-left: 10px;
}

.sbCBM
{
    margin-left: 60%;
}

.sRCT
{
    margin-left: 25px;
}

.sRCT
{
    padding-top: 10px;
}

.sb224
{
    margin-top: 20px;
}

.sRCP
{
    margin-left: 25px;
}

.sbCMLong
{
    filter: invert(100%) sepia(0%) saturate(4141%) hue-rotate(292deg) brightness(117%) contrast(100%);
}

.sRCT1
{
    margin-top: 10px;
}

.cardSpan
{
    font-size: 12px;
    margin-left: 10px;
}

.cardHeader
{
    margin-left: 10px;
}

.cardProfile
{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media(max-width: 900px)
{
    .firstNavbar
    {
        width: 100%;
    }

    .logo
    {
        width: 130px;
        margin-left: 0%;
        margin-right: 0%;    
    }

    .disappear
    {
        display: none;
    }

    .firstRow
    {
        flex-direction: column;
        width: 100%;
        margin-left: 8%;
    }

    .secondRow
    {
        flex-direction: column;
    }

    .thirdRow
    {
        flex-direction: column;
    }

    .firstRowFirst
    {
        width: 85%;
        margin-bottom: 25px;
    }

    .subColumn
    {
        width: 80%;
        margin-left: 0%;
    }

    .secondRowFirst
    {
        margin-left: 0;
    }

    .sb22
    {
        margin-top: 20px;
    }

    .secRowImg
    {
        width: 100px;
    }

    .secRowDiv
    {
        width: 90%;
    }

    .secondRow
    {
        margin-left: 8%;
    }
    .sRCT223
    {
        padding: 0;
        font-size: 15px;
    }

    .secRowDisplay2
    {
        margin-left: 0;
    }

    .secRowDivLong1
    {
        width: 90%;
        height: 200px;
    }

    .long
    {
        width: 90%;
    }

    .thirdRow
    {
        margin-left: 8%;
    }

    .lastCards
    {
        width: 90%;
        margin-bottom: 25px;
    }

    .lastCardImage
    {
        width: 100%;
    }

    .showMore
    {
        margin-top: 0;
        margin-left: 30%
    }
}

