.list-users {
    width: 80%;
    margin: 0 auto;
}

.card {
    width: 30%;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.text-center {
    text-align: center;
}
.dropdown-links {
    margin-left: 0px;
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    background: #fff;
    box-shadow: -1px 3px 8px 0px #00000038;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    margin-right: 0px;
    position: absolute;
    top: 40px;
    right: 160px;

}

.dropdown-links > li:nth-of-type(0) {
    margin-bottom: 10px;
}
.dropdown-links > li {
    margin-left: 0px
}
.dropdown-links > li > a {
    cursor: pointer;
    color: #000 !important;
}
.card-box {
    background: #ffff;
    padding: 20px;
    border-radius: 3px;
    background-color: #fff;
}

.rounded-circle.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.thumb-lg {
    height: 88px;
    width: 88px;
}

.rounded-circle.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.thumb-lg {
    height: 88px;
    width: 88px;
}
.mx-auto {
    margin: auto !important;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-users ul li {
    display: inline;
    margin: 0px;
}

.btn-rounded {
    border-radius: 2em;
    margin: 0 auto;
}

.text-pink {
    color: #ff679b !important;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.bio {
    text-align: justify;
}

/* Social icons */
.social-links li a {
   
    color: #fff;
    display: inline-block;
}

.social-links li a i{
    border-radius: 50%;
    height: 30px;
    line-height: 27px;
    text-align: center;
    width: 30px;
}

.fa-facebook {
    background-color: #3C599F;
}

.fa-twitter {
    background-color: #32CCFE;
}

.fa-twitter {
    background-color: #32CCFE;
}

.fa-linkedin {
    background-color: #0085AE;
}

.fa-instagram {
    background-color: #A1755C;
}