.auth-links {
    display: block;
}

.lgBtn {
    -webkit-border-radius: 36px;
    border-radius: 36px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    background: none;
    padding: 10px 28px;
    height: 40px;
    outline: none;
    border: 1px solid rgba(0,0,0,.04);
    cursor: pointer;
    margin-right: 10px;
    color: #fff;
}

.restOfNav.links {
    float: right;
}

button a{
    color: #fff;
    text-decoration-line: none;
}

.form
{
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #ffffff;
    padding: 30px 100px;
    margin-left: 30%;
    margin-top: 10%;
}

.formcontrol
{
    display: block;
    width: 75%;
    height: 20px;
    padding: .65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    margin-bottom: 20px;
    outline: #646c9a;
}

.resetBtn
{
    background: #367fa9;
    height: 40px;
    padding: 5px 18px;
    color: #ffffff;
    border: none;
    outline: #367fa9;
    cursor: pointer;
    width: 260px;
}