body
{
    position: relative;
    width: 100%;
    height: 100%;
    background: #EEEEEE;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.logo
{
    height: 50px;
    width: 200px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(354deg) brightness(105%) contrast(106%);
}

button a{
    color: inherit;
    text-decoration-line: none;
}


.navbar
{
    width: 100%;
    height: 15%;
    background: #367fa9;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: flex;
    flex-direction: row;
    color: #ffffff;
}

.navbar ul li a{
    color: #ffffff;
    text-decoration: none;
}

.restOfNav
{
    margin-left: 30%;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.navName
{
    margin-left: 10px;
    font-size: 12px
}

ul li
{
    display: inline;
}

ul
{
    margin-left: 0px;
    
}

li
{
    margin-left: 60px;
}

.navIcons
{
    width: 15px;
    height: 15px;
}

.navIconColor
{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(354deg) brightness(105%) contrast(106%);
    margin-left: 20px;
    margin-top: 5px;
}

.manIcon
{
    margin-left: 25px;
    width: 20px;
    height: 20px;
}

.navIconSmall
{
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.stats
{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.card-shadow
{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.card-right
{
    background: #FFFFFf;
    height: 120px;
    width: 210px;
    text-align: center;
    margin-left: 0px;
}

.intro
{
    display: flex;
    flex-direction: row;
    margin-left: 7%;
    margin-top: 20px;
}

.btn
{
    margin-top: 2%;
    background: #367fa9;
    margin-left: 50%;
    height: 40px;
    padding: 5px 38px;
    color: #ffffff;
    border: none;
    outline: #367fa9;
    cursor: pointer;
}

.statIcons
{
    width: 20px;
    height: 20px;
}

.statContainer
{
    background: #367fa9;
    margin-bottom: 50px;
    padding: 47.5px; 
    cursor: pointer;
}

.statIconColor
{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(354deg) brightness(105%) contrast(106%);
}

.articles
{
    display: flex;
    flex-direction: row;
    margin-left: 7%;
}

.article-card
{
    background: #ffffff;
    padding: 10px;
    width: 18%;
    margin-right: 50px;
}

.terImg
{
    width: 100%;
    height: 180px;
}

.readBtn
{
    margin-top: 2%;
    height: 40px;
    padding: 5px 38px;
    color: #71C5EA;
    border: 1px solid #71C5EA;
    outline: #71C5EA;
    cursor: pointer;
    background: none;
}

.readBtn:hover
{
    background: #71C5EA;
    color: #ffffff;
}


@media(max-width: 900px)
{
    .navbar
    {
        width: 100%;
    }

    ul li
    {
        display: none;
    }

    .disappear
    {
        display: none;
    }

    .restOfNav
    {
        margin-left: 0%;
    }

    .logo
    {
        width: 120px;
        margin-left: 0;
    }
    
    .intro
    {
        flex-direction: column;
    }

    .btn
    {
        margin-left: 0%;
        width: 200px;
    }

    .stats
    {
        flex-direction: column;
    }

    .card-shadow
    {
        margin-left: 7%;
    }

    .articles
    {
        flex-direction: column;
    }

    .article-card
    {
        width: 85%;
        margin-bottom: 50px;
    }
}
