language: node_js

node_js: 
  - "stable"

cache:
  - "node_modules"

services:
  - postgresql
  - redis-server

before_script:
  - psql -c 'create database users_test;' -U postgres

script:
  - npm test  

after_success:
  - npm run coveralls
