* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f1f4f5;
    font-family: 'Open Sans', sans-serif;
}

ul li {
    list-style: none;
}

.widget{
    background-color: #fff;
}

/* navigation header */
header {
    margin-bottom: 5px;
}

.widget.nav {
    background: #71C5EA;
    color: #fff;
}

.nav-left, .nav-right{
    display: inline-block;
    vertical-align: top;
}

.nav-left {
    width: 50%;
}

.nav-left h2, .nav-left span {
    display: inline-block;
    margin: 0.5em;
}

.nav-left span.fa{
    font-size: 30px;
}

.nav-right {
    text-align: right;
    width: 48%;
}

.nav-right img{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 2px solid rgba(255,255,255,0.5);
}

.nav-right img, .nav-right label {
    display: inline-block;
    vertical-align: top;
    margin: 0.5em 0em;
}

.nav-right label {
    padding-top: 0.6em
}

/* section */
.page-heading{
    text-align: center;
}

.page-heading h2 {
    margin: 0px;
    padding: 10px;
}

.multi-widget{
    margin: 0 auto;
}

.user-profile-s1, .user-profile-s2{
    display: inline-block;
    vertical-align: top;
    margin: 0.3em;
    padding: 0.1em;
    min-height: 630px;
    padding: 1em;
}

.user-profile-s1{
    width: 30%;
}

.user-profile-s2{
    width: 63%;
}

.profile-img img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    text-align: center;
    margin: .5em auto;
    display: block;
}

.profile-img {
    position: relative;
}

.change-image {
    position: absolute;
    right: 0px;
    width: 100%;
    top: 120px;
    left: 65px;
    cursor: pointer;
}

.change-image img {
    width: 40px;
    height: 40px;
}

.change-image input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

td {
    padding: 8px 0px;
    border-bottom: 1px solid #f5f5f5;
    font-size: 14px;
    font-weight: 400;
}

.input-sm-form {
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 0.1rem 0.3rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.btn.btn-blue {
    background: #2698f3;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    border: 1px solid #2d9cf4;
    border-radius: 2px;
    float: right;
}

.basic-info h3, .basic-info a {
    display: inline-block;
}

.social h3, .social a {
    display: inline-block;
    margin-top: 1em;
}

.numbers{
    background-color: #71C5EA;
    width: 100%;
}

.articles, .followers, .following{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding: 15px 5px;
    color: #fff;
}

.numbers label {
    display: block;
    text-align: center;
}

.basic-info ul li span {
    color: #888;
    margin-right: 0.5em;
}


.basic-info ul li{
    margin-bottom: 1em;
}

.basic-info h3{
    padding-bottom: 20px;
}

/* user profile social icons */
.social h3 {
    margin: 1em 0em;
}

.facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

.twitter{
    background-color: #2DAAE1;
}

.instagram{
   background-color: rgb(228, 64, 95);
}

.linkedin{
    background-color: #0073b2;
}

.social ul li{
    display: inline-block;
    vertical-align: top;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    margin-right: 1em;
}

.social ul li i{
    color: #ffffff;
    width: 38px;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    padding: 0px 5px;
    vertical-align: middle;
}

.social .fa{
    font-size: 20px;
}

table td i {
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    padding: 0px 5px;
    vertical-align: middle;
}

table .icon{
    border-radius: 50%;
}

/* footer */
footer {
    background: #fff;
    padding: .3em;
    text-align: center;
    bottom: 0em;
    position: fixed;
    width: 100%;
}
footer p{
    text-align: center;
    padding: 0.5em;
}





